// COLORS
$black: #050505;
$blueBlack: #131517;
$grayBlue: #1e1f25;
$lGrayBlue: #212229;
$slateGray: #777e90;
$lSlateGray: #7c8b9f;
$manatee: #8899a8;
$grayWindow: #a9abad;
$dGreen: #409a74;
$green: #41d37e;
$dRed: #650606;
$red: #d34141;
$dBlue: #23236f;
$blue: #5051f9;
$white: #ffffff;
$lTelegray: #d2d2d2;

// MARGIN
$xssMargin: 5px;
$xsMargin: 10px;
$sMargin: 15px;
$mMargin: 20px;
$lMargin: 30px;
$xlMargin: 40px;

// RADIUS
$sRadius: 8px;

// TRANSITION
$transition: all ease-out 0.3s;
